* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.game-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.game {
  min-width: 510px;
  height: 510px;
  background-image: url("images/desert.png");
}

#tank, #tank-image {
  height: 50px;
  width: 50px;
  position: relative;
}

.bullet {
  position: absolute;
  height: 13px;
  margin-left: 23px;
  font-size: 55px;
}
